.idea/
erx_hiec_rampup.txt
.Rhistory
/CLEAN
__pycache__
/artifacts/trained_models
/data/sprhea/known_rxns_swissprot_enzymes_240310_v2.json
/data/sprhea/known_rxns_240310_v2_folded_protein_transcript_homology.json