# Misc
.idea
.DS_Store

**/__pycache__
**/lightning_logs
**/.ipynb_checkpoints
**/logs

# Pixi and packaging
.pixi
*.egg-info

# Large data files
data/sprhea/known_rxns_swissprot_enzymes_240310.json
data/sprhea/known_rxns_swissprot_enzymes_240310_v2.json
data/sprhea/known_rxns_240310_v2_folded_protein_transcript_homology.json
data/sprhea/known_rxns_sp_folded_pth.json
data/sprhea/sp_folded_pth.csv
data/sprhea/sprhea_240310_v3_min_mapped_no_subunits.json
data/sprhea/sprhea_240310_v3_min_mapped.json
