defaults:
  - filepaths: base
  - data: sprhea_n_100_arc
  - model: rxnfp
  - training: base
  - _self_

exp: null

hydra:
  output_subdir: null # Redundant w/ mlflow
  run:
    dir: ${filepaths.scratch} # Redundant w/ mlflow