defaults:
  - filepaths: base
  - override hydra/launcher: quest_cpu
  - _self_

run_id: ???
external_data: null # Option to predict on external data set
negative_sampling: null # Option to override negative sampling strategy for external data set

hydra:
  sweep:
    dir: ${filepaths.results}/predictions
    subdir: ${...run_id}
  run:
    dir: ${filepaths.results}/predictions/${...run_id}
  job:
    chdir: True